body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0 0.5em 0;
}

h2,
p {
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

label {
  display: block;
}

nav {
  margin-left: 20px;
}

nav a {
  display: inline-block;
  margin: 0.5em 1em;
}

select {
  margin-left: 0.5em;
}

#app {
  position: relative;
}

button {
  border-radius: 20px;
  border: 1px solid darkgoldenrod;
  background-color: darkgoldenrod;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 45px;
  font-weight: bold;
  outline: none;
}

/* NAV BAR */
.fa-bars {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  font-size: 1.5em;
  display: none;
}

.fa-times {
  position: absolute;
  top: 1.5em;
  right: 2.5em;
  font-size: 1.5em;
  display: none;
}

@media screen and (max-width: 480px) {
  .fa-bars {
    display: block;
  }

  .fa-times {
    display: block;
  }

  .hr {
    margin: 0 2em;
  }

  nav {
    display: none;
  }

  .nav-clicked {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: white;
    width: 70%;
    margin-left: 0;
    height: 100vh;
    padding-top: 4em;
    padding-left: 2em;
  }

  #app .filter-sort {
    justify-content: center;
  }
}

/* ALL PRODUCTS */
.filter-sort {
  display: flex;
  padding: 0.5em 1em 1em 1em;
}

.all-products-grid {
  display: grid;
  padding: 0 2rem 2rem 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.all-products-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  background-color: #fafafa;
}

.all-products-img {
  height: 200px;
  width: 200px;
  margin: auto;
}

.pagination-button-black {
  margin: 0 5px 50px 5px;
  background-color: white;
  border: none;
  outline: none;
  font-weight: bold;
}

.pagination-button-grey {
  margin: 0 5px 50px 5px;
  background-color: white;
  border: none;
  outline: none;
  color: grey;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* SINGLE PRODUCT */
.single-product-grid {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}

.single-product-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  background-color: #fafafa;
}

.single-product-img {
  height: 360px;
  width: 360px;
  margin: auto;
}

/* LOGIN LOGOUT */
.auth-grid {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}

.auth-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.auth-img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

form div {
  margin: 0.5em;
  display: flex;
  justify-content: center;
}

.google-icon {
  border: solid 1px;
  height: 2em;
  width: 2em;
  color: lightgray;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.fa-google-plus-g {
  padding-top: 7px;
  color: black;
}

input {
  padding: 1em;
  background-color: #eee;
  border: none;
  margin: 0.5em;
}

.error {
  color: red;
}

.auth-question {
  margin: 1em 0;
}

@media screen and (max-width: 480px) {
  .auth-img {
    display: none;
  }
}
