body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0 0.5em 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

label {
  display: block;
}

nav {
  margin-left: 20px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

select {
  margin-left: 0.5em;
}

.text-align-center {
  text-align: center;
}

#app {
  position: relative;
}

/* NAV BAR */
.fas {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  font-size: 1.5em;
  display: none;
}

@media screen and (max-width: 480px) {
  .fas {
    display: block;
  }
  nav {
    display: none;
  }
  #app .filter-sort {
    justify-content: center;
    position: sticky;
    top: 5em;
  }
}

/* ALL PRODUCTS */
.filter-sort {
  display: flex;
  padding: 1em;
  position: sticky;
  top: 9em;
  background-color: white;
}

.filter-sort-item {
  display: flex;
  margin: 1em;
}

.all-products-grid {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.all-products-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  background-color: #fafafa;
}

.all-products-img {
  height: 200px;
  width: 200px;
  margin: auto;
}

.pagination-button-black {
  margin: 0 5px 50px 5px;
  background-color: white;
  border: none;
  outline: none;
  font-weight: bold;
}

.pagination-button-grey {
  margin: 0 5px 50px 5px;
  background-color: white;
  border: none;
  outline: none;
  color: grey;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* SINGLE PRODUCT */
.single-product-grid {
  display: grid;
  padding: 4rem 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 3fr));
}

.single-product-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  background-color: #fafafa;
}

.single-product-img {
  height: 360px;
  width: 360px;
  margin: auto;
}
